@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}
body{
  background-image: url('/assets/images/background_2.jpg');
  background-position: center center;
  background-size: cover;
}

/* Header */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
}

header h4{
  color: #1b3039;
  font-weight: bold;
  font-size: 3rem;
  cursor: pointer;
  margin: auto;
  width: auto;
  transition: all 0.3s;
}

header h4:hover{
  transform: scale(1.2);
}

header .nav-links{
  list-style: none;
}

header .nav-links li{
  display: inline-block;
  padding: 0 20px;    
  margin-top: 20px;
}

header .nav-links li:hover,
.overlay a:hover{
  transform: scale(1.1);
}

.btn-nav{
  background-color: #ffbc0e;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icons{
  width: 40px;
  height: 40px;
  fill: aliceblue;
  margin: 5px;
}

.btn-menu {
  display:none;
}

.menu-icon{
  fill: black;
  width: 30px;
  height: 30px;
}

.btn-menu{
  background-color: none;
  margin-top: 10px;
  padding: 9px 25px;
  border: solid aliceblue ;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
a{
  text-decoration: none;  
}

.new-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(63, 53, 33, 0.95);
  overflow: hidden;
  transition: all 0.3s ease 0s;
}

.new-menu .new-menu-content{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;    
}

.new-menu a{
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
  font-weight: 700;
  color: #eceff1;
}

.new-menu .close{
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 65px;
}

/* Main */

.title{
  color: black;
  font-weight: bold;
  width: 700px;
}

.main-contact{
  margin-top: 9%;
  margin-bottom: 9%;
}

.presentation{
  color: rgba(244, 26, 26, 0.616);
  width: 400px;
  font-weight: bold;
}

.text{
  margin-top: 12%;
  margin-bottom: 12%;
}

.btn-primary{
  display: block;
  width: 100%;
}

strong{
  color: black;
}
main h5{
  margin: 0;
  padding: 10px;
}

.main-icon{
  margin: 10px;
  width: 400px;
  height: 400px;
}

.history{
  line-height: 1.5;
  font-weight: bold;
  columns: 2;
  color: rgba(244, 26, 26, 0.816);
}

.about-me-title{
  font-weight: bold;
}

.about-me-profession{
  color: rgba(26, 113, 244, 0.616);
}

.about-me-age{
  color: rgba(244, 26, 26, 0.616);
  font-weight: bold;
  margin: 0;
}

.about-me-job{
  color: rgba(222, 26, 244, 0.663);
}

.about-me-married{
  font-weight: bold;

}

.form{
  background-color: #ecececff;
  width: 600px;
  height: 450px;
}

/*  Footer */
footer{
  margin: 0;
  background-color: #37395bff;
  color: aliceblue;
  min-height: 150px;
}

.footer.links{
  text-decoration: none;
  border: solid aliceblue;

}

.footer-icons{
  border: solid aliceblue;
  padding: 13px;
  margin: 3px;
  width: 75px;
  height: 75px;
  fill: aliceblue;
}

@media screen and (max-width: 850px){
  .nav-links{
      display: none;
  }
  .btn-menu {
      display: inherit;
  }

  .text{
    margin-top: 29%;
    margin-bottom: 29%;
  }

  .form{
    margin-top: 31%;
    margin-bottom: 31%;
  }
}

@media screen and (max-width: 800px){
  .nav-links{
      display: none;
  }
  .btn-menu {
      display: inherit;
  }

  .text{
    margin-top: 21%;
    margin-bottom: 21%;
  }

  .form{
    margin-top: 25%;
    margin-bottom: 25%;
  }
}


@media screen and (max-width:450px) {
  .new-menu a{
      font-size: 20px;
  }
  .new-menu .close{
      font-size: 40px;
      top: 15px;
      right: 35px;
  }

  header h4{
    padding-top: 20px;
    font-size: 2rem;
  }

  .title{
    font-size: 30px;
    width: 95%;
  }
  
  .presentation{
    width: 70%;
  }

  .main-contact{
    margin-top: 20%;
    margin-bottom: 20%;
  }

  .text{
    margin: 120px 10px;
  }

  .form{
    width: 290px;
    height: 450px;
  }
}